* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E8F1D;
}

main {
    border: 1px solid yellow;
    padding: 12px;
    border-radius: 12px;
    background-color: #faf8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #000000;
}

#container-pesquisa-cep {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
}

#input-cep {
    padding: 12px 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 2px 2px #1e8f1d;
    transition: .3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: .875rem;
}

#input-cep:focus-within {
    box-shadow: 4px 4px #f3f31d;
}

#btn-cep {
    padding: 12px 28px;
    border: none;
    outline: none;
    background-color: #f3f31d;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: .875rem;
    cursor: pointer;
    transition: .3s ease;
}

#btn-cep:hover {
    background-color: #c0ba48;
}

#resultado-cep {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #1E8F1D;
}

.list-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}